#msg-box4-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#features1-2 P {
  color: #2969b0;
}
#features1-5 P {
  color: #28324e;
}
#features1-6 P {
  color: #553982;
}
